<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>User Front</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" />

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />

    <!--bootstrap date-time picker-->
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <!--data table-->
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <!--<link href="css/scrolling-nav.css" rel="stylesheet" />-->
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation -->
<div th:fragment="navbar">
    <img class="img-fluid" src="/images/bann.png" alt="bann"/>

    <nav class="navbar navbar-expand-md bg-body-tertiary border rounded" role="navigation">
    <div class="container">
        <a class="navbar-brand page-scroll" th:href="@{/userFront}">Home</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-ex1-collapse"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Accounts</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/account/primaryAccount}">Primary</a></li>
                        <li><hr class="dropdown-divider"/></li>
                        <li><a class="dropdown-item" th:href="@{/account/savingsAccount}">Savings</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Transfer</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/transfer/betweenAccounts}">Between Accounts</a></li>
                        <li><a class="dropdown-item" th:href="@{/transfer/toSomeoneElse}">To Someone Else</a></li>
                        <li><hr class="dropdown-divider"/></li>
                        <li><a class="dropdown-item" th:href="@{/transfer/recipient}">Add/Edit Recipient</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Appointment</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/appointment/create}">Schedule an Appointment</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Me</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{/user/profile}">Profile</a></li>
                        <li><hr class="dropdown-divider"/></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
</div>

<div th:fragment="body-bottom-scripts">
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/jquery.easing.min.js"></script>

    <!--bootstrap date-time picker-->
    <script src="/js/bootstrap-datetimepicker.min.js"></script>

    <!--bootbox-->
    <script src="/js/bootbox.min.js"></script>

    <!--data table-->
    <script src="/js/jquery.dataTables.min.js"></script>

    <!--main js-->
    <script src="/js/main.js"></script>
</div>

</body>
</html>